@font-face {
    font-family: PlusJakartaSans;
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
html{
    font-family: PlusJakartaSans;
}
#info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#notification-info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#notification-count{
    font-weight: 700;
    color: white;
    padding: 0.2rem 0.7rem;
    background-color: black;
    border-radius: 0.25rem;
}
#notification-text{
    font-weight: 700;
    font-size: 20px;
    color: hsl(224, 21%, 14%);
}
#mark-as-read{
    font-weight: 400;
    font-size: 15px;
    color: hsl(219, 12%, 42%);
}
.name{
    font-weight: 700;
    font-size: 15px;
    color: hsl(224, 21%, 14%);
}